.slide-left{
  animation: slide-left 0.3s ease forwards;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-right {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100%{
        opacity: 0;
        transform: translateX(300px);
    }
}

@keyframes popupOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}